@charset "utf-8";
@media (min-width: 320px) {
  html {
    font-size: 21.33333333px;
  }
}
@media (min-width: 360px) {
  html {
    font-size: 24px;
  }
}
@media (min-width: 375px) {
  html {
    font-size: 25px;
  }
}
@media (min-width: 384px) {
  html {
    font-size: 25.6px;
  }
}
@media (min-width: 400px) {
  html {
    font-size: 26.66666667px;
  }
}
@media (min-width: 414px) {
  html {
    font-size: 27.6px;
  }
}
@media (min-width: 424px) {
  html {
    font-size: 28.26666667px;
  }
}
@media (min-width: 480px) {
  html {
    font-size: 32px;
  }
}
@media (min-width: 540px) {
  html {
    font-size: 36px;
  }
}
@media (min-width: 720px) {
  html {
    font-size: 48px;
  }
}
@media (min-width: 750px) {
  html {
    font-size: 50px;
  }
}
/* 初始化 */
body,
div,
ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
select,
p,
dl,
dt,
dd,
a,
img,
button,
form,
table,
th,
tr,
td,
tbody,
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font: 12px/1.5 'Microsoft YaHei', '宋体', Tahoma, Arial, sans-serif;
  color: #555;
  background-color: #F7F7F7;
}
/*去除边框*/
fieldset,
img,
input,
button,
textarea {
  border: none;
  /*去除的蓝色小边框*/
  outline-style: none;
}
/*禁止表单域缩放*/
textarea {
  resize: none;
}
a {
  text-decoration: none;
  color: #969696;
  /* 取消链接高亮  */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* 图片自适应 */
img {
  width: 100%;
  /*解决图片底部对其问题*/
  display: block;
  border: none;
}
ul,
ol {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-decoration: none;
  font-weight: normal;
  font-size: 100%;
}
/*i标签的表现跟span是一样*/
em,
i {
  font-style: normal;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
/*清除浮动*/
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
/*单行溢出*/
.one-txt-cut {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/*多行溢出*/
.txt-cut {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
/*多行溢出 8 */
.txt-cut-8 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
}
.mmb_container {
  width: 100%;
  max-width: 750px;
  min-width: 320px;
  margin: 0 auto;
  background-color: #f1f1f1;
}
.footer {
  margin-top: 1rem;
  height: 3.8rem;
  width: 100%;
}
.footer .login_btn {
  width: 100%;
  height: 1.4rem;
  border-top: 1px solid #757779;
  border-bottom: 1px solid #757779;
}
.footer .login_btn a {
  display: block;
  float: left;
  border-right: 1px solid #757779;
  width: 33.33%;
  height: 1.4rem;
  line-height: 1.4rem;
  font-size: 0.44rem;
  color: #0D0441;
  text-align: center;
}
.footer .login_btn a:last-child {
  border-right: none;
}
.footer .copyright {
  margin-top: 0.7rem;
}
.footer .copyright p {
  text-align: center;
  color: #0D0441;
  font-size: 0.36rem;
}
.footer .copyright p a {
  color: #FE0605;
}
.footer .copyright p span {
  color: #757779;
}
.footer .copyright p:last-child {
  color: #757779;
}
.mmb_header {
  height: 1.76rem;
  background-color: #f4483e;
  position: relative;
}
.mmb_header .back {
  font-size: 0.8rem;
  color: #fff;
  position: absolute;
  left: 0.3rem;
  top: 50%;
  transform: translateY(-50%);
}
.mmb_header p {
  height: 1.76rem;
  line-height: 1.76rem;
  text-align: center;
  font-size: 0.6rem;
  color: #fff;
}
.mmb_header .app {
  width: 1.36rem;
  height: 1.36rem;
  position: absolute;
  right: 0.3rem;
  top: 50%;
  transform: translateY(-50%);
  background: url('../images/header_app.png') center center no-repeat;
  background-size: 1.36rem 1.36rem;
}
.mmb_list {
  background-color: #fff;
}
.mmb_list .title {
  text-align: center;
  font-size: 0.36rem;
  height: 1.2rem;
  line-height: 1.2rem;
  color: #757779;
}
.mmb_list li {
  width: 100%;
  height: 5rem;
  border-bottom: 1px solid #757779;
}
.mmb_list .content_img {
  width: 4.6rem;
  height: 4.6rem;
  float: left;
}
.mmb_list .content_img img {
  width: 80%;
  height: 80%;
  margin: 0.4rem auto 0;
}
.mmb_list .content_des {
  height: 5.1rem;
  overflow: hidden;
  padding: 0.6rem 0.4rem 0 0;
  position: relative;
}
.mmb_list .content_des p {
  font-size: 0.44rem;
  color: #0D0441;
}
.mmb_list .content_des .price {
  color: #000;
  font-size: 0.4rem;
  margin-top: 0.3rem;
}
.mmb_list .content_des .expires {
  margin-top: 0.5rem;
  font-size: 0.4rem;
  color: #f4483e;
}
.mmb_container {
  position: relative;
}
.mask {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}
.mask .mask_img {
  width: 8rem;
  height: 8rem;
  margin: 6rem auto 0;
  position: relative;
}
.mask .mask_img .img_box {
  width: 100%;
  height: 100%;
}
.mask .mask_img .img_box img {
  width: 90%;
  height: 90%;
  margin: 0.2rem auto 0;
}
.mask .mask_img .mask_left,
.mask .mask_img .mask_right {
  width: 2rem;
  height: 4rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
  line-height: 4rem;
  font-size: 0.8rem;
}
.mask .mask_img .mask_left {
  left: -2rem;
}
.mask .mask_img .mask_right {
  right: -2rem;
}
